@import "../../../styles/partials/mixins.scss";
@import "../../../styles/partials/variables.scss";

.account {
  margin: 1rem;

  @include tablet {
    margin: 3rem;
  }

  @include desktop {
    margin: 6rem;
  }

  &__description {
    @include desktop {
      font-size: $desktop-body;
      text-align: center;
    }
  }

  &__title {
    font-size: $mobile-header-two;
    padding-bottom: 1rem;

    @include desktop {
      font-size: $desktop-title;
      text-align: center;
    }
  }
}
