@import "../../../styles/partials/mixins.scss";
@import "../../../styles/partials/variables.scss";

.article {
  margin: 1rem;

  @include tablet {
    margin: 1rem 5rem;
  }

  @include desktop {
    margin: 1rem 10rem;
  }

  &__flex {
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__container {
    padding: 1rem 0;

    @include desktop {
      padding: 3rem 0;
    }
  }

  &__photo {
    width: 100%;
    padding-top: 1rem;
    @include tablet {
      max-height: 500px;
    }

    @include desktop {
      max-height: 700px;
      max-width: 700px;
    }
  }

  &__title {
    padding-bottom: 1rem;

    @include desktop {
      font-size: $desktop-title;
    }
  }

  &__author {
    padding-bottom: 0.25rem;
    border-bottom: 1px solid $gold;

    font-size: $mobile-body;
    font-weight: 100;

    @include desktop {
      font-size: $desktop-body;
    }
  }

  &__content {
    text-align: justify;
    line-height: 2;

    padding-bottom: 1rem;

    @include desktop {
      font-size: $desktop-body;
    }
  }
}
