@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";

.category-list {
  @include tablet {
    margin: 0 1rem;
  }

  @include desktop {
    margin: 0 3rem;
  }
  &__button {
    width: 50px;
    height: 50px;

    position: absolute;
    right: 1.25rem;
    bottom: -18rem;

    border: none;
    border-radius: 50px;
    opacity: 0.82;
    background-color: $alabaster;

    @include tablet {
      position: absolute;
      right: 5.35rem;
      bottom: -19.25rem;
    }

    @include desktop {
      display: none;
    }
  }

  &__container {
    width: 300px;

    display: flex;
    gap: 2rem;
    padding-left: 1rem;

    padding-top: 1rem;

    overflow: scroll;

    @include tablet {
      width: 700px;
    }

    @include desktop {
      width: 100%;
      display: grid;
      place-items: center;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 2rem;
      padding-top: 4rem;
      overflow: visible;
    }
  }

  &__title {
    font-size: $mobile-subheader;

    border-bottom: 1px solid $gold;
    padding: 0.5rem 1rem;

    @include tablet {
      @include tablet-desktop-title;
      padding: 0.5rem 0;
    }
    @include desktop {
      @include tablet-desktop-title;
    }
  }
}
