@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";

.category-list {
  margin: 1rem;
  // @include desktop {
  //   margin: 2rem;
  // }
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    padding-top: 1rem;
  }

  &__title {
    width: 70%;
    font-size: 14px;
    margin-left: 1rem;
    border-bottom: 1px solid $gold;
    padding-bottom: 0.2rem;
  }
}
