@font-face {
  font-family: "Voga Regular";
  src: url("../../assets/fonts/Voga-Medium.otf") format("opentype");

  font-weight: 400;
}

@font-face {
  font-family: "Voga Bold";
  src: url("../../assets/fonts/Voga-Medium.otf") format("opentype");

  font-weight: 700;
}
