@import "./variables.scss";

//mixins
@mixin tablet {
  @media (min-width: 768px) and (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

//repeating styles

@mixin tablet-desktop-title {
  width: 100%;
  font-size: 24px;

  text-align: center;
}

//hover effect

@mixin hover {
  transform: translateY(0) scale(1.1);
}

//button styles

@mixin button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: $gold;
}

//Sign Up Background

@mixin signup {
  background-image: url(../../assets/images/signup-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
