// Breakpoint Mixins
$mobile-breakpoint: 320px;
$tablet-breakpoint: 1279px;
$desktop-breakpoint: 1280px;

//Primary Colours
$gold: #fbb121;
$white: #ffffff;
$off-white: #f5f5f5;
$black: black;
$wheat: wheat;

//Secondary Colors
$alabaster: #fafafa;
$mercury: #e1e1e1;
$shadow: #888888;
