@import "../../../styles/partials/mixins.scss";
@import "../../../styles/partials/variables.scss";

.planner {
  margin: 1rem;

  @include tablet {
    margin: 1rem 5rem;
  }
  @include desktop {
    margin: 2rem 12rem;
  }

  &__date-flex {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }

  &__macros-flex {
    display: flex;
    justify-content: center;
  }

  &__tracker {
    background-color: $off-white;
    box-shadow: $box-shadow;
  }

  &__category-flex {
    display: flex;
    justify-content: space-between;
  }

  &__delete {
    border: none;
    background: none;
  }

  &__total-calories {
    padding: 1rem;
    text-align: center;
  }

  &__container {
    padding: 1rem;
    margin: 1rem 0;
    background-color: $off-white;
    border-radius: 10px;
    box-shadow: $box-shadow;

    @include tablet {
      padding: 1rem 3rem;
    }

    @include desktop {
      padding: 1rem 4rem;
    }
  }

  &__total-macros {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}
