@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";

.loading {
  &__video-flex {
    display: flex;
    justify-content: center;
    padding-left: 4rem;

    @include tablet {
      padding-left: 0;
      padding-right: 4rem;
    }

    @include desktop {
      padding-left: 0;
    }
  }

  &__message {
    padding-top: 2rem;
    padding-left: 4rem;
    text-align: center;
    font-size: $mobile-page-header;
    font-weight: 700;

    @include tablet {
      padding-left: 0;
      padding-right: 4rem;
    }

    @include desktop {
      padding-left: 0;
    }
  }
}
