@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";

.loading {
  padding-bottom: 1rem;
  &__video-flex {
    display: flex;
    justify-content: center;

    @include tablet {
      padding-left: 0;
      padding-right: 4rem;
    }

    @include desktop {
      padding-left: 0;
    }
  }

  &__video {
    width: 100%;

    @include tablet {
      max-width: 500px;
    }

    @include desktop {
      max-width: 800px;
    }
  }

  &__message {
    padding-left: 1rem;
    text-align: center;
    font-size: $mobile-page-header;
    font-weight: 700;

    @include tablet {
      padding-left: 0;
      padding-right: 4rem;
    }

    @include desktop {
      padding-left: 0;
    }
  }
}
