@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";

.diary {
  &__recipe-title {
    padding: 0.5rem 0;
  }
  &__macros {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    gap: 0.5rem;
  }
}
