@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";

.diary {
  &__recipe-title {
    padding: 0.5rem 0;
  }
  &__macros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 2rem;

    @include tablet {
      flex-wrap: none;
      justify-content: flex-end;
      padding: 0;
    }

    @include desktop {
      justify-content: flex-end;
    }
  }
}
