@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__button-container {
    display: flex;
    gap: 0.5rem;
  }
  &__button {
    border: none;
  }
  &__github {
    background-color: gold;

    border-radius: 20px;
  }

  &__linkedin {
    background-color: gold;
    border-radius: 20px;
  }
}
